/*
 * Dashicons mixin
 * use: @include dashicons( '\f140' );
 */
/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: rgba(28, 28, 28, 0.04);
  font-family: Helvetica, sans-serif; }

/* Notices */
.notice-success, div.updated {
  border-color: #009245; }

.notice-error, div.error {
  border-color: #0100FF; }

/* Delete and Errors */
#all-plugins-table .plugins a.delete,
#media-items a.delete,
#media-items a.delete-permanently,
#nav-menu-footer .menu-delete,
#search-plugins-table .plugins a.delete,
.plugins a.delete,
.row-actions span.delete a,
.row-actions span.spam a,
.row-actions span.trash a,
.submitbox .submitdelete {
  color: #0100FF; }
  #all-plugins-table .plugins a.delete:hover,
  #media-items a.delete:hover,
  #media-items a.delete-permanently:hover,
  #nav-menu-footer .menu-delete:hover,
  #search-plugins-table .plugins a.delete:hover,
  .plugins a.delete:hover,
  .row-actions span.delete a:hover,
  .row-actions span.spam a:hover,
  .row-actions span.trash a:hover,
  .submitbox .submitdelete:hover {
    color: #0000CC; }

.widget-control-remove:hover,
.file-error,
abbr.required {
  color: #0000CC; }

/* Links */
a.page-title-action {
  color: #1C1C1C !important;
  transition: 300ms; }
  a.page-title-action:hover {
    color: #fff !important;
    background: #1C1C1C !important;
    border: 1px solid #1C1C1C !important; }

a {
  color: #1C1C1C; }
  a:hover, a:active, a:focus {
    color: #474747; }

#rightnow a:hover,
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover,
.ui-tabs-nav a:hover {
  color: #474747; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #0100FF; }

input[type=radio]:checked:before {
  background: #0100FF; }

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #474747; }

/* Core UI */
.wp-core-ui .button-primary {
  background: #1C1C1C;
  border: 0;
  color: white;
  box-shadow: none;
  text-shadow: none; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #01050d;
    border: 0;
    color: white;
    box-shadow: none; }
  .wp-core-ui .button-primary:active {
    background: #01050d;
    border: 0;
    color: white;
    box-shadow: none; }
  .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
    color: #c7cad1 !important;
    background: #01050d !important;
    border: 0;
    text-shadow: none !important; }

.wp-core-ui .wp-ui-primary {
  color: #fff;
  background-color: #1C1C1C; }

.wp-core-ui .wp-ui-text-primary {
  color: #1C1C1C; }

.wp-core-ui .wp-ui-highlight {
  color: #fff;
  background-color: #2E2E2E; }

.wp-core-ui .wp-ui-text-highlight {
  color: #2E2E2E; }

.wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #606060; }

.wp-core-ui .wp-ui-text-notification {
  color: #606060; }

.wp-core-ui .wp-ui-text-icon {
  color: #cdd0d6; }

/* Content Editor */
#wp-content-editor-tools {
  background: rgba(28, 28, 28, 0.04); }

/* List tables */
.wrap .add-new-h2:hover,
#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #FFF;
  background-color: #1C1C1C; }

.view-switch a.current:before {
  color: #1C1C1C; }

.view-switch a:hover:before {
  color: #606060; }

.post-com-count:hover:after {
  border-top-color: #1C1C1C; }

.post-com-count:hover span {
  color: #cdd0d6;
  background-color: #1C1C1C; }

strong .post-com-count:after {
  border-top-color: #606060; }

strong .post-com-count span {
  background-color: #606060; }

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #1C1C1C; }

#adminmenu a {
  color: #cdd0d6; }

#adminmenu div.wp-menu-image:before {
  color: #cdd0d6; }

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #2E2E2E; }

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  border-bottom-color: rgba(28, 28, 28, 0.04); }

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #111111; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #111111; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #cdd0d6; }

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #cdd0d6; }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #fff; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #fff; }

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: rgba(28, 28, 28, 0.04); }

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #2E2E2E; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: #fff; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #0100FF; }

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #0100FF; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #cdd0d6; }

#collapse-menu:hover {
  color: #fff; }

#collapse-button div:after {
  color: #cdd0d6; }

#collapse-menu:hover #collapse-button div:after {
  color: #fff; }

.wp-menu-separator {
  height: 0px !important;
  display: none; }

#collapse-button:hover {
  color: white; }

/* Admin Bar */
#wpadminbar {
  color: #cdd0d6;
  background: #1C1C1C; }

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #cdd0d6; }

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #cdd0d6; }

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #fff;
  background: #111111; }

#wpadminbar > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #fff; }

#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #fff; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #111111; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #212121; }

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #cdd0d6; }

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #cdd0d6; }

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #fff; }

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #fff; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #cdd0d6; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #cdd0d6;
  background: #252525; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #cdd0d6;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #cdd0d6;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #cdd0d6;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #cdd0d6;
  opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #252525;
  background-color: #252525; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #cdd0d6; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #fff; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: #cdd0d6; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #0100FF; }

.wp-pointer .wp-pointer-content h3:before {
  color: #0100FF; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #0100FF; }

/* Media Uploader */
.media-item .bar,
.media-progress-bar div {
  background-color: #0100FF; }

.details.attachment {
  box-shadow: 0 0 0 1px #fff, 0 0 0 5px #0100FF; }

.attachment.details .check {
  background-color: #0100FF;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0100FF; }

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme:hover:after {
  background: #0100FF; }

.theme-browser .theme.add-new-theme:hover span:after {
  color: #0100FF; }

.theme-overlay .theme-header .close:hover,
.theme-overlay .theme-header .right:hover,
.theme-overlay .theme-header .left:hover {
  background: #0100FF; }

/* jQuery UI Slider */
.wp-slider .ui-slider-handle,
.wp-slider .ui-slider-handle.ui-state-hover,
.wp-slider .ui-slider-handle.focus {
  background: #1C1C1C;
  border-color: #000104;
  -webkit-box-shadow: inset 0 1px 0 #0c3078, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #0c3078, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #cdd0d6; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #2E2E2E; }

.star-rating .star {
  color: #0100FF; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #111111; }
